body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin-top: 50px;
  color: #FEF2BF;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
}

button{
  margin: 10px;
  background-color: #FEF2BF;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  height: 50px;
  width: 150px;
  border: 10px solid black;
  border-radius: 15%;
}

.btn {
  margin: 25px;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

@media(max-width: 600px){
  .btn {
    height: 150px;
    width: 150px;
    margin: 10px;
  }

  #level-title {
    font-size: 1.5rem;
  }

  .grid-container{
    margin-top: 60px;
  }
  }

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}